# Python compiled code
*.pyc

# OS X files
.DS_Store

# VS code
.vscode

# Android Studio
**/.idea

# Twilio Dependencies
webapp/six.py
webapp/tiwlio
webapp/urllib3
webapp/requests
webapp/httplib2
webapp/idna
webapp/chardet
webapp/pytz
webapp/certifi
webapp/requests-toolbelt
