{% extends "layout.html" %}
{% block content %}
    <div id="employee-container" class="main-container">
      <div class="row">
        <div class="col-12">
          <h1>Employees</h1>
          <p></p>
          <div class="card mb-3">
            <div class="card-header">
              
            </div>
            <div class="card-body">
              <div class="table-responsive">
                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                  <thead>
                    <tr>
                      <th>Name</th>
                      <th>Phone</th>
                      <th>Carrier</th>
                      <th>Bartending</th>
                    </tr>
                  </thead>
                  <tfoot>
                    <tr>
                      <th>Name</th>
                      <th>Phone</th>
                      <th>Carrier</th>
                      <th>Bartending</th>
                    </tr>
                  </tfoot>
                  <tbody>
                    <tr>
                      <td>Olivier Giroud</td>
                      <td>(917) 747-7608</td>
                      <td>Verizon</td>
                      <td>Yes</td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
            <div class="card-footer small text-muted"> </div>
          </div>
        </div>
      </div>
      <div class="modal fade" id="deleteEmployeeModal" tabindex="-1" role="dialog" aria-labelledby="deleteEmployeeModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLabel">Are you sure you want to delete?</h5>
              <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">×</span>
              </button>
            </div>
            <div class="modal-body">Please confirm you want to delete <b id="showEmployeeName"></b>.</div>
            <div class="modal-footer">
              <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
              <form id="deleteEmployeeForm" method="POST" class="deleteEmployeeForm"> 
                <input type="hidden" id="deleteEmployeeIdInput" name="employeeId" value=""/>
                <input type="hidden" name="action" value="deleteEmployee"/>
                <button id="deleteEmployeeBtn" type="submit" class="btn btn-danger deleteEmployeeBtn">Delete</button>
              </form>
            </div>
          </div>
        </div>
      </div>
{% endblock %}

{% block scripts %}
  <script src="vendor/datatables/jquery.dataTables.js"></script>
  <script src="vendor/datatables/dataTables.bootstrap4.js"></script>
  <script src="js/employees.js"></script>
{% endblock %}

