{% extends "layout.html" %}
{% block content %}
    <div id="tap-list-container" class="main-container">
      <div class="row">
        <div class="col-12">
          <h1>Tap List</h1>
          <p></p>
          <div id="accordion-container">
            <div id="accordion" role="tablist">
              {% for beer in beers %}
                <div class="card">
                  <div class="card-header" role="tab" id="heading-{{ beer.id }}">
                    <h6 class="mb-0">
                      <a data-toggle="collapse" href="#beer-{{ beer.id }}" aria-expanded="true" aria-controls="beer-1">
                        {{ beer.name }}
                      </a>
                    </h6>
                  </div>
                  <div id="beer-{{ beer.id }}" class="collapse" role="tabpanel" aria-labelledby="heading-{{ beer.id }}" data-parent="#accordion">
                    <div class="card-body">
                      <form id="updateBeerForm-{{ beer.id }}" method="POST">
                        <div class="form-row">
                          <div class="form-group col-md-6">
                            <label for="beerName">Name</label>
                            <input type="text" class="form-control" placeholder="beer name" name="beerName" value="{{ beer.name }}">
                            <br>
                            <label for="beerStyle">Style</label>
                            <input type="text" class="form-control" placeholder="beer style" name="beerStyle" value="{{ beer.style }}">
                            <br>
                            <label for="beerAbv">ABV</label>
                            <div class="input-group mb-2 mb-sm-0">
                              <div class="input-group-addon">%</div>
                              <input type="number" class="form-control" placeholder="0.0" name="beerAbv" value="{{ beer.abv }}">
                            </div>
                            <br>
                            <label for="beerIbus">IBUs</label>
                            <input type="number" step="1" class="form-control" placeholder="0" name="beerIbus" value="{{ beer.ibus }}">
                            <br>
                            <label for="beerSrm">SRM</label>
                            <input type="number" step="1" class="form-control" placeholder="0" name="beerSrm" value="{{ beer.srm }}">
                            <br>
                          </div>
                          <div class="form-group col-md-6">
                            <div class="padding-left-20">
                              <label for="beerOnTap">Beer On Tap</label>
                              <div class="form-group pull-right">
                                <label class="switch">
                                  <input type="checkbox" name="beerOnTap" {% if beer.on_tap: %} checked {% endif %}>
                                  <span class="slider round"></span>
                                </label>
                              </div>
                              <br class="clear">
                              <label for="beerPrice">Price</label>
                              <div class="input-group mb-2 mb-sm-0">
                                <div class="input-group-addon">$</div>
                                <input type="number" class="form-control" placeholder="0.00" name="beerPrice" value="{{ beer.price }}">
                              </div>
                              <br>
                              <label for="beerDescription">Description</label>
                              <textarea name="beerDescription" class="form-control" rows="7" placeholder="beer description goes here">{{ beer.description }}</textarea> 
                            </div>
                          </div>
                        </div>
                        <input type="hidden" name="action" value="updateBeer">
                        <input type="hidden" name="beerId" value="{{beer.id}}">
                        <input type="hidden" id="updateBeerTapListImage-{{ beer.id }}" name="beerTapListImage" value="{{ beer.tap_list_image }}">
                        <input type="hidden" id="updateBeerDescriptionImage-{{ beer.id }}" name="beerDescriptionImage" value="{{ beer.description_image }}">
                      </form>
                      <div class="form-group">
                        <div class="wrapper">
                          <form id="updateBeerTapListImageForm-{{ beer.id }}" method="POST" enctype="multipart/form-data"> 
                            <label for="beerTapListImage">Tap List Image</label>
                            <div class="box">
                              <div class="js--image-preview {% if beer.tap_list_image != "": %} js--no-default {% endif %}" {% if beer.tap_list_image != "": %} style="background-image:url('{{beer.tap_list_image}}');" {% endif %} ></div>
                              <div class="upload-options" onClick="clearImageInput('#updateBeerTapListImage-{{beer.id }}');">
                                <label>
                                  <input type="file" class="image-upload" accept="image/*" id="updateBeerTapListImageFile-{{ beer.id }}" name="beerTapListImageFile" value="">
                                </label>
                              </div>
                            </div>
                          </form>
                          <form id="updateBeerDescriptionImageForm-{{ beer.id }}" method="POST" enctype="multipart/form-data">
                            <label for="beerDescriptionImage">Description Image</label>
                            <div class="box">
                              <div class="js--image-preview {% if beer.tap_list_image != "": %} js--no-default {% endif %}" {% if beer.description_image != "": %} style="background-image:url('{{beer.description_image}}');" {% endif %} ></div>
                              <div class="upload-options" onClick="clearImageInput('#updateBeerDescriptionImage-{{beer.id }}');">
                                <label>
                                  <input type="file" class="image-upload" accept="image/*" name="beerDescriptionImageFile" id="updateBeerDescriptionImageFile-{{ beer.id }}" value="">
                                </label>
                              </div>
                            </div>
                          </form>
                        </div>
                      </div>
                      <button id="updateBeerBtn-{{ beer.id }}" type="button" class="btn btn-primary pull-right updateBeerBtn" data="{{ beer.id }}">Update Beer <i class="fa fa-check-circle" aria-hidden="true"></i></button>
                      <button id="preDeleteBeerBtn-{{ beer.id }}" type="submit" class="btn btn-danger preDeleteBeerBtn pull-right margin-right-10" data-id="{{ beer.id }}" data-name="{{ beer.name }}" data-toggle="modal" data-target="#deleteBeerModal">Delete Beer <i class="fa fa-minus-circle" aria-hidden="true"></i></button>
                      <div class="clear"></div>
                    </div>
                  </div>
                </div>
              {% endfor %}
              <div id="addBeerCard" class="card hidden">
                <div class="card-header" role="tab" id="addheading">
                  <h6 class="mb-0">
                    <a id="addBeerCardOpen" data-toggle="collapse" href="#addBeer" aria-expanded="true" aria-controls="addBeer">
                      New Beer
                    </a>
                  </h6>
                </div>
                <div id="addBeer" class="collapse" role="tabpanel" aria-labelledby="addheading" data-parent="#accordion">
                  <div class="card-body">
                    <form id="addBeerForm" method="POST">
                      <div class="form-row">
                        <div class="form-group col-md-6">
                          <label for="beerName">Name</label>
                          <input type="text" class="form-control" placeholder="beer name" name="beerName">
                          <br>
                          <label for="beerStyle">Style</label>
                          <input type="text" class="form-control" placeholder="beer style" name="beerStyle">
                          <br>
                          <label for="beerAbv">ABV</label>
                          <div class="input-group mb-2 mb-sm-0">
                            <div class="input-group-addon">%</div>
                            <input type="number" class="form-control" placeholder="0.0" name="beerAbv">
                          </div>
                          <br>
                          <label for="beerIbus">IBUs</label>
                          <input type="number" step="1" class="form-control" placeholder="0" name="beerIbus">
                          <br>
                          <label for="beerSrm">SRM</label>
                          <input type="number" step="1" class="form-control" placeholder="0" name="beerSrm">
                          <br>
                        </div>
                        <div class="form-group col-md-6">
                          <div class="padding-left-20">
                            <label for="beerOnTap">Beer On Tap</label>
                            <div class="form-group pull-right">
                              <label class="switch">
                                <input type="checkbox" name="beerOnTap">
                                <span class="slider round"></span>
                              </label>
                            </div>
                            <br class="clear">
                            <label for="beerPrice">Price</label>
                            <div class="input-group mb-2 mb-sm-0">
                              <div class="input-group-addon">$</div>
                              <input type="number" class="form-control" placeholder="0.00" name="beerPrice">
                            </div>
                            <br>
                            <label for="beerDescription">Description</label>
                            <textarea name="beerDescription" class="form-control" rows="7" placeholder="beer description goes here"></textarea> 
                          </div>
                        </div>
                      </div>
                      <input type="hidden" name="action" value="addBeer">
                      <input type="hidden" id="addBeerTapListImage" name="beerTapListImage" value="">
                      <input type="hidden" id="addBeerDescriptionImage" name="beerDescriptionImage" value="">
                    </form>
                    <div class="form-group">
                      <div class="wrapper">
                        <form id="addBeerTapListImageForm" method="POST" enctype="multipart/form-data"> 
                          <label for="beerTapListImage">Tap List Image</label>
                          <div class="box">
                            <div class="js--image-preview"></div>
                            <div class="upload-options">
                              <label>
                                <input type="file" class="image-upload" accept="image/*" id="addBeerTapListImageFile" name="beerTapListImageFile" value="">
                              </label>
                            </div>
                          </div>
                        </form>
                        <form id="addBeerDescriptionImageForm" method="POST" enctype="multipart/form-data">
                          <label for="beerDescriptionImage">Description Image</label>
                          <div class="box">
                            <div class="js--image-preview"></div>
                            <div class="upload-options">
                              <label>
                                <input type="file" class="image-upload" accept="image/*" name="beerDescriptionImageFile" id="addBeerDescriptionImageFile" value="">
                              </label>
                            </div>
                          </div>
                        </form>
                      </div>
                    </div>
                    <button id="addBeerBtn" type="button" class="btn btn-primary pull-right">Add Beer <i class="fa fa-check-circle" aria-hidden="true"></i></button>
                    <div class="clear"></clear>
                  </div>
                </div>
              </div>
            </div>
            <button id="showAddBeer" type="button" class="btn btn-info pull-right">New Beer <i class="fa fa-plus-circle" aria-hidden="true"></i></button>
            <div class="clear"></div>
          </div>
        </div>
      </div>
      <div class="modal fade" id="deleteBeerModal" tabindex="-1" role="dialog" aria-labelledby="deleteBeerModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLabel">Are you sure you want to delete?</h5>
              <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">×</span>
              </button>
            </div>
            <div class="modal-body">Please confirm you want to delete <b id="showBeerName"></b>.</div>
            <div class="modal-footer">
              <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
              <form id="deleteBeerForm" method="POST" class="deleteBeerForm"> 
                <input type="hidden" id="deleteBeerIdInput" name="beerId" value=""/>
                <input type="hidden" name="action" value="deleteBeer"/>
                <button id="deleteBeerBtn" type="submit" class="btn btn-danger deleteBeerBtn">Delete <i class="fa fa-minus-circle" aria-hidden="true"></i></button>
              </form>
            </div>
          </div>
        </div>
      </div>
{% endblock %}

{% block scripts %}
    <script type="text/javascript" src="http://production-assets.codepen.io/assets/common/stopExecutionOnTimeout-b2a7b3fe212eaa732349046d8416e00a9dec26eb7fd347590fbced3ab38af52e.js"></script>
    <script src="js/tap-list.js"></script>
{% endblock %}

